

.listOne {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 10px;
    background-color: white;
}

.listHead {
    @include flex(space-between, center);
    // margin: 20px 20px 0 20px;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 10px 10px 0 0;
}

.list {
    // margin: 0 20px 20px 20px;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 0 0 10px 10px;
    border-top: 0;
    
}

.listTwo {
    border: 1px solid darkgray;
    @include w-h(100%, 100%);
    background-color: white;
    text-align: center;

    tr {
        border-bottom: 1px solid darkgray;
    }

    img {
        @include w-h(50px, 50px);
    }
}

a {
    padding-left: 5px;
    color: darkblue;
    text-decoration: none;
}

.cs {
    background-color: #f5f5f5;
}

.sc {
    background-color: white;
}

.empty {
    color: white;
    background-color: brown;
}

.seek {
    color: white;
    background-color: darkcyan;
}

 .el-form-item__content{
    width: 68%;
}
.nameList .el-form--inline .el-form-item{
   width: 100%;
}
.investmentRecord .el-form-item__content{
    width: 55%;
}
.investmentRecord .el-form--inline .el-form-item{
    width: 100%;
 }